.main_section_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_section_title img{
width: 40%;
}

.div_main_title{
    margin-left: 6rem;
}

h1{
    font-size: 30px;
    font-weight: 800;
}

.title_light{
    color: var(--main-blue);
}

.card_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Cinco columnas */
    gap: 20px;
    justify-content: center;
    padding: 20px;
    max-width: 70%; /* Ancho máximo para ajustar a 5 columnas */
    margin: 0 auto;
}