.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  width: 196px;
  height: auto;
  border-radius: 12px;
  padding: 16px;
  background-color: var(--light-card);
}

.card:hover {
  box-shadow: 0px 4px 4.7px 0px rgba(126, 126, 126, 0.09);
}
.card > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.card h3 {
  text-align: center;
  color: var(--main-blue);
}
.card h3:hover {
  color: var(--dark-blue);
  text-decoration: underline;
}
.link_text {
  text-decoration: none;
}

.favButton{
  border: none;
  border-radius: 20px;
  background: var(--main-blue);
  padding: 0.5rem;
  }
  
  .favButton:hover{
      background: var(--dark-blue);
  }

.star{
   height: 18px;
   width: 18px;
  }

