.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--main-blue);
    color: var(--beige);
    padding: 4rem 4rem;
  }

  .footer_section {
    display: flex;
    flex-direction: column;
  }

  .footer_logo {
    height: 50px;
  }

  .subtitle{
    font-weight: bold;
  }