.successMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDE6EF; 
    color: var(--main-blue); 
    border: 1px solid #BAD3EF; 
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    padding: 1rem;
  }
  
  .checkMark {
    color: var(--main-blue);
    font-size: 24px;
    margin-right: 10px;
  }
  
  .successText {
    color:var(--main-blue);
    font-size: 16px;
    margin: 0;
  }