@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
--beige:#F9F6ED;
--light-card:#FFFCF4;
--dark-background: #131A22;
--dark-card:#0A2544;
--dark-blue: #022E60;
--main-blue:#044793;
--color-text-lightTheme: #1E1E1E;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--beige);
}

p, a{
  font-weight:500 ;
  color: var(--color-text-lightTheme);
}

