@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
--Beige:#F9F6ED;
--light-card:#FFFCF4;
--dark-background: #131A22;
--dark-card:#0A2544;
--dark-blue: #022E60;
--main-blue:#044793;
--color-text-lightTheme: #1E1E1E;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--Beige);
}

.logo{
  height: 50px ;
}

.BgBody-light{
  background-color: var(--Beige);
}

.BgBody-dark{}

h1{
  font-size: 30px;
  font-weight: 800;
}

p, a

{
  font-weight:500 ;
  color: var(--color-text-lightTheme);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
}

.div-links{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.nav-link{
  color: var(--main-blue);
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

.nav-link-active{
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  font-weight: bolder;
  color: var(--dark-blue);
}

.nav-light{
  background-color: var(--Beige);
  box-shadow: 0px 4px 28.1px 0px rgba(0, 0, 0, 0.06);
}

.title-light{
  color: var(--main-blue);
}

.button-light{
  border: none;
  background-color: var(--main-blue);
  border-radius:100%;
  padding: 16px;
}
.button-light:hover{
  background-color: var(--dark-blue);
}




 


form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

.button-change-theme{
  background-color: ;
}